
<app-header></app-header>
<app-navigation></app-navigation>
<div class="tong">
  <div class="container mt-5" style="margin-left: 550px;">
    <div class="row">

      <div style="background: lightgreen" class="col-lg-6 shadow-lg">
        <form>
          <div class="mb-5 mt-3 text-center fst-italic">
            <h1>Edit Facility Form</h1>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold fst-italic">Name Facility:</label>

          </div>

          <div class="mb-3">
            <label  class="form-label fw-bold fst-italic">Area:</label>

          </div>

          <div class="mb-3">
            <label class="form-label fw-bold fst-italic">Cost:</label>

          </div>

          <div class="mb-3">
            <label class="form-label fw-bold fst-italic">Max People:</label>

          </div>


          <div class="mb-3">
            <label  class="form-label fw-bold fst-italic">Standard Room:</label>
          </div>

          <div class="mb-3">
            <label  class="form-label fw-bold fst-italic">Description Other
              Convenience:</label>

          </div>


          <div id="poolArea" class="mb-3">
            <label  class="form-label fw-bold fst-italic">Pool Area:</label>
          </div>

          <div id="numberFloors" class="mb-3">
            <label class="form-label fw-bold fst-italic">Number Floors:</label>
          </div>

          <div id="facilityFree" class="mb-3">
            <label class="form-label fw-bold fst-italic">Facility Free:</label>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold fst-italic">Rent Type:</label>
          </div>
          <button type="submit" class="btn btn-primary mb-3 w-100">Update Facility</button>
          <button class="btn bg-warning mb-3 w-100"><a
            style="color: black ;text-align: center;text-decoration: none"
            href="/facility">Back to customer list</a></button>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>

