<app-header></app-header>
<app-navigation></app-navigation>
<!--<div style="margin-left: 750px; margin-top: 20px; ">-->

<!--  <a style=" text-decoration: none; color: black; font-size: 20px;background: #20c997;padding: 10px;border-radius: 9%"-->
<!--     [routerLink]="['/customer-add']" >ADD NEW CUSTOMER</a>-->
<!--</div>-->

<div style="margin-left: 730px; margin-top: 20px; margin-bottom: 15px">
  <div class="container-fluid">
    <button class="btn btn-success btn-outline-secondary btn-sm" data-bs-toggle="modal"
            data-bs-target="#addContract">
      <span class="fa-solid fa-plus text-light h6 my-auto me-1"></span>
      <span class="text-light" style="font-size: 20px" [routerLink]="['/contract-create']"> Thêm mới hợp đồng</span>
    </button>
  </div>
</div>

<table class="table table-dark" style="text-align: center; margin-top: 30px;" border="1">
  <thead>
  <tr >
    <th>ID</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Identify Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let temp of customerList;index as i">
    <td>{{i + 1}}</td>
    <td>{{temp.name}}</td>
    <td>{{temp.dateOfBirth}}</td>
    <td>{{temp.gender}}</td>
    <td>{{temp.idCard}}</td>
    <td>{{temp.phoneNumber}}</td>
    <td>{{temp.email}}</td>
    <td>{{temp.address}}</td>
    <td>{{temp.customerType.name}}</td>
    <td><a class="btn btn-danger">View</a></td>

    <td>
      <a class="btn btn-danger" [routerLink]="['/customer-edit']">Edit</a>
    </td>
    <td><a class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
