
<div class="row" style="background: #F9A603; height: 60px; text-align: center">
  <nav class="navbar navbar-expand-lg" style="background: #F9A603">
    <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">
      <div class="col-lg-1"></div>
      <div class="navbar-nav col-lg-8">
        <div>
          <button type="button" class="btn btn-close-white">
            <a style=" text-decoration: none" [routerLink]="['/home']" >HOME</a>
          </button>
        </div>
        <div style="margin-left: 30px">
          <button type="button" class="btn btn-close-white">
            <a style=" text-decoration: none"  href="/employee">EMPLOYEE</a>
          </button>
        </div>
        <div style="margin-left: 30px">
          <button type="button" class="btn btn-close-white">
            <a style=" text-decoration: none"  [routerLink]="['/customer']" >CUSTOMER</a></button>
        </div>
        <div style="margin-left: 30px">
          <button type="button" class="btn btn-close-white">
            <a style=" text-decoration: none"  [routerLink]="['/facility']" >SERVICE</a>
          </button>
        </div>
        <div style="margin-left: 30px">
          <button type="button" class="btn btn-close-white">
            <a style=" text-decoration: none"  [routerLink]="['/contract']">CONTRACT</a>
          </button>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
</div>

