
<h1>Chỉnh sửa phẩm mới</h1>
<form [formGroup]="updateForm" >
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Thể loại</td>
      <td><input type="text" formControlName="category"></td>
    </tr>
  </table>
</form>

