<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
               class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
               alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Thêm mới</h3>
            <form>
              <input type="hidden">
              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="name"/>
                <label class="form-label">Tên khách hàng</label><br>
                <span
                      style="color: red">Tên phải nhập đúng nhé</span>
              </div>
              <div class="form-outline mb-4">
                <input type="date" class="form-control" formControlName="dateOfBirth"/>
                <label class="form-label">Ngày sinh</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker">
                    <input type="radio" value="1" formControlName="gender">Nam
                    <input type="radio" value="0" formControlName="gender">Nữ
                    <br>
                    <label class="form-label">Giới tính</label>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="idCard"/>
                <label class="form-label">Chứng minh thư</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="phoneNumber"/>
                <label class="form-label">Số điện thoại</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="email"/>
                <label class="form-label">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="address"/>
                <label class="form-label">Địa chỉ</label>
              </div>
              <div class="mb-4">

                <select formControlName="customerType">
                  <option></option>
                </select>
                <label class="form-label">Loại khách hàng</label>
              </div>

              <button type="submit" class="btn btn-info btn-lg mb-1">Xác nhận</button>
              <p style="margin-left: 20%">
                <a class="btn btn-danger">Danh sách</a>
              </p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
